// Custom Colors
$primaryColor: #00d1b2;
$primaryDark: #05C6A9;
$secondaryColor: #9090FF;
$accentColor: #ffdd57;
// Deep Orange #DD7129

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

.hero{
    background: #fff impo !important;
}
.hero-landing{
    background-image: url('\\img\\header_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .hero-body{
        @include desktop {
            padding: 4rem 1.5rem !important;
        }
        .title, .subtitle{
            color: #3a3a3a !important;
        }
    }
}
.navbar-item, .navbar-item:hover, .navbar-link {
    color: #3a3a3a !important;
}
main{
    .section-services{
        background-color: $accentColor !important;
        figure {
            margin: auto;
            img{
                margin: auto;
                height: 50px;
            }
        }
    }
    
    .featured {
        position: relative;
        .content{
            padding: 1em;
            @include desktop {
                padding: 2em;
            }
            .featured-info{
                align-content: center;
                margin: auto auto;
                .title{
                    padding-bottom: .8em;
                }
                figure{
                    margin: 0 auto;
                }
            }   
            .featured-buttons{
                padding-top: 2em;
            }
            .featured-desc{
                margin: auto auto;
                line-height: 1.4em;
                @include desktop {
                    padding: 2em;
                    //line-height: 1.8em;
                }
            }
        }
    }
    .project-desc, .featured-desc{
        padding: 1em;
        line-height: 1.4em;
        @include desktop {
            padding: 2em;
            line-height: 1.8em;
        }
    }
    .media-content{
        .title{
            margin-bottom: 1em;
            padding-bottom: .8em;
        }
    }
    .section-title {
        position:relative;
        text-align:left;
        color: #121212 !important;
    }
    .section-title::after {
        content:'';
        position:absolute;
        height: 2px;
        background:#00d1b2;
        bottom:-10px;
        left:0;
        right:95%;
        margin:auto;
        @include desktop {
            right:98%;
        }
    }
}

.list-cases {
    background-color: #F6F6F6;
}
.primary-bg{
    background-color: $primaryColor;
}
.is-vertical-content{
    margin: auto 0;
}
.is-centered-content{
    margin: auto auto;
}
.is-horizontal-center {
    justify-content: center;
}
.breadcrumb li+li::before {
    color:#4a4a4a !important;
}
.is-subtle-link{
    color: #4a4a4a !important;
    a{
        color: #4a4a4a;
        &:hover{
            color: $accentColor;
            text-decoration: none;
        }
    }
}
.is-dark-link{
    color: #4a4a4a !important;
    a{
        color: #4a4a4a;
        text-decoration: underline;
        &:hover{
            color: $accentColor;
            text-decoration: none;
        }
    }
}
.section-header{
    padding: 2em 0;
}
.section-full-width{
    padding: 0 !important;
    display: grid;
	place-content:center;
    .img{
        width: 100%;
        height: auto;
        display: block;
    }
}

.bg-graphic{
    position: absolute;
    left: 40%;
    text-align: center;
    opacity: .6;
    margin-top: -30px;
}
.footer-bottom{
    background-color: #04ad94;
    color: #3a3a3a;
    font-size: .8em;
}

// -------
// Effects
// -------
.grow-effect { display: inline-block; overflow: hidden;}
.grow-effect img { display: block; transition: transform .4s; }
.grow-effect:hover img { transform: scale(1.1); transform-origin: 50% 50%; }

.btn {
    color: #fff;
    cursor: pointer;
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px; 
    position: relative;
    text-decoration: none;
    width: 100%; 
    
    &:hover { text-decoration: none; }
}

.btn-hover-effect {
    border: 1px solid;
    overflow: hidden;
    position: relative;

    span {
        z-index: 20;
    }

    &:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .6;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
    }
}

.btn-hover-effect:hover {
    &:after {
        left: 120%;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
