$primaryColor: #00d1b2;
$darkGreen: #05C6A9;
$secondaryColor: #9090FF;
$accentColor: #ffdd57;
// Deep Orange #DD7129

$med: 800px;
$lge: 1050px;
$xlg: 1250px;

.section-services{
    background-color: $accentColor !important;
    figure {
        margin: auto;
        img{
            margin: auto;
            width: 96px;
        }
    }
}
.footer{
    background-image: url(img/footer_bg_graphic.svg);
    background-repeat: no-repeat;
    background-position: 50% 80%;
    @media screen and (min-width: $med) {
        background-position: 70% 83%;
    }
}
.footer-bottom{
    background-color: #04ad94;
    color: white;
}
.hero-landing{
    background: $darkGreen !important;
}
.featured {
    position: relative;
    .content{
        padding: 1em;
        @media screen and (min-width: $med) {
            padding: 2em;
        }
        .featured-info{
            align-content: center;
            .title{
                padding-bottom: .8em;
            }
            figure{
                margin: 0 auto;
            }
        }   
        .featured-buttons{
            padding-top: 2em;
        }
        .featured-desc{
            line-height: 1.4em;
            @media screen and (min-width: $med) {
                padding: 2em;
                line-height: 2em;
            }
        }
    }
}
.project-desc, .featured-desc{
    padding: 1em;
    line-height: 1.4em;
    @media screen and (min-width: $med) {
        padding: 2em;
        line-height: 2em;
    }
}
.featured::before{
    position: absolute;
    content: "";
    background: $secondaryColor;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 0;
    left: 0;
    margin-left: -40px;
    margin-top: -40px;
    @media screen and (min-width: $med) {
        width: 100px;
        height: 100px;
    }
}
.media-content{
    .title{
        margin-bottom: 1em;
        padding-bottom: .8em;
    }
}
.section-title {
    position:relative;
    text-align:left;
}
.section-title::after {
    content:'';
    position:absolute;
    height:2px;
    background:#00d1b2;
    bottom:-10px;
    left:0;
    right:95%;
    margin:auto;
    @media screen and (min-width: $med) {
        right:98%;
    }
}
